
/* open-sans-regular - cyrillic_latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Muller';
  font-style: normal;
  font-weight: 300;
  src: url('../fonts/MullerLight.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Muller';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/MullerBold.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Muller';
  font-style: normal;
  font-weight: 500;
  src: url('../fonts/MullerMedium.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Muller';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/MullerRegular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

.window {
	font-family: 'Muller';
	margin: auto;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
	background-color: #E5E3E4;
}

.container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
	margin: auto;
	padding: 0;
	padding: 30px;
	margin: 30px;
	background-color: #BBC6C8;
	border-radius: 15px;
}

.header {
	margin: 0;
	margin-bottom: 20px;
}

.info {
	text-align: left;
	font-size: 16px;
	line-height: 1;
	font-weight: 400;
	margin-bottom: 20px;
	background-color: #E5E3E4;
	padding: 16px 16px 0px 16px;
	border-radius: 15px;
}

.btn {
		border: none;
    color: rgb(0, 0, 0);
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    font-size: 20px;
		line-height: 1;
		font-weight: 600;
		border-radius: 5px;
		background-color: #7f8889;
}
.btn:hover {
	background-color: #469597;
	color: white;
}

.myTable {
	margin: auto;
	margin-top: 20px;
	margin-bottom: 60px;
	width: 90%; 
	border: 3px solid #131410; /* Рамка вокруг таблицы */
 }
 TD, TH {
	padding: 10px; /* Поля вокруг содержимого ячеек */
 }
 TH {
	text-align: center; /* Выравнивание по левому краю */
	background: #3f5456; /* Цвет фона */
	color: white; /* Цвет текста */
	border: 1px solid #131410; /* Рамка вокруг ячеек */
	font-weight: 600;
	font-size: 22px;
	line-height: 1.5;
 }
 TD {
	text-align: center; /* Выравнивание по левому краю */
	border-bottom: 1px solid black; /* Линия снизу */
	border-right: 1px solid black;;
	height: 30px;
	font-weight: 500;
	font-size: 18px;
 }

 .green-item {
	background-color: #7eb253;
 }

 .red-item {
	background-color: #d64136;
 }